
@{
    ViewBag.Title = "Car Insurance Company";
}


<div class="jumbotron text-center">
    <h1 class="display-4">Car Insurance Company</h1>
    <p class="lead">Established in 1990, provides the best prices, customer service and help with inconveniencing situations on the market</p>
    <hr class="my-4">
    <p>If you are instred in our offer, please contact us to get your special offer!</p>
    <button class="btn btn-light btn-lg">@Html.ActionLink("Get your quote!", "Create", "Insuree")</button>
</div>

 <hr class="my-4">
<div class=" text-center">
    <h2 class="card-title">We are here:</h2>
    <p class="card-text">
        102 Tamworth Road, NR10 5TH
        <br /> London
        <br />Phone: 8753 09231
        <br /> E-mail: carinsurance@company.com
    </p>
</div>

