
@{
    ViewBag.Title = "Home";
}
<br />
<br />
<br />
<div class="text-center ">
    <div>
        <h1 class="font-weight-bold text-uppercase">Car Insurance Company</h1>
    </div>
    <div class="text-lg">
        <p class="text-lg-center">Car Insurance Company established in 1990, provides the best prices, customer service and help with inconveniencing situations on the market!</p>
        <p>If you are instred in our offer, please contact us to get your special offer!</p>
    </div>
</div>
<br />
<br />
<br />




<hr />



<br />
<br />
<br />


<div class="text-center">
    <div>
        <h3 class=" font-weight-bold text-uppercase">Contact details:</h3>
    </div>
    <div>
        <p>
            102 Tamworth Road, NR10 5TH
            <br /> London
            <br />Phone: 8753 09231
            <br /> E-mail: carinsurance@company.com
        </p>
    </div>
</div>
<br />
<br />
<br />